.dashboard {
  .all-question {
    display: flex;
    flex-wrap: wrap;
    /* justify-content: space-between; */
  }
  .heading {
    display: flex;
    justify-content: center;
    font-size: 35px;
    text-transform: capitalize;
    color: midnightblue;
    min-height: 40px;
  }
  .poll-header {
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid #ccc;
    h6 {
      font-size: 10px;
      font-weight: 600;
      margin-top: 6px;
      letter-spacing: 0.0082em;
    }
  }
  .quiz-container {
    width: 460px;
    max-width: 100%;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
    margin: 16px;
  }

  //   .quiz-header {
  //     /* padding: 45px; */
  //   }
  h2 {
    font-size: 18px;
    font-weight: 500;
    padding: 15px 20px;
  }
  ul {
    padding: 0;
  }
  li {
    list-style: none;
    padding: 6px 0;
    display: flex;
    align-items: center;
  }
  li label {
    padding-left: 8px;
  }
  #questions {
    margin: 0;
    padding: 0 0 15px 0;
  }
  button {
    width: 60%;
    border: none;
    padding: 5px 10px;
    font-size: 18px;
    color: #ffffff;
    background-color: #b71540;
    transition: 0.5s;
    border-radius: 0 0 5px 5px;
  }
  button:hover {
    background-color: #850628;
  }
  input[type="radio"] {
    cursor: pointer;
  }
}
